<h2>Trenger hjelp?</h2>
    <p>Kontakt oss ved å sende en melding.</p>
    <button type="button">Sende melding</button>
    <hr>
    <h3>Ring oss</h3>
    <dl>
        <dt>Private lån</dt>
        <dd>📞 <a href="tel:08-508 808 00">08-508 808 00</a></dd>
        <dt>Boliglån</dt>
        <dd>📞 <a href="tel:08-508 808 45">08-508 808 45</a></dd>
        <dt>Lagrer</dt>
        <dd>📞 <a href="tel:08-508 808 00">08-508 808 00</a></dd>
    </dl>
